/*colors*/
/*helpers*/
/*colors*/
.charts {
  display: flex;
  justify-content: space-between;
  align-content: flex-start; }

.charts__box {
  position: relative; }

.charts__subtitle {
  font-size: 16px;
  margin: 0 0 15px 0; }

.charts__chart {
  display: flex; }

.charts__chart-pie {
  width: 170px;
  height: 170px;
  margin: 0 0 0 0px;
  border-radius: 50%;
  border: 3px solid #8d46d9;
  position: relative; }

.charts__chart-pieborder {
  position: absolute;
  width: 85px;
  height: 85px;
  bottom: -3px;
  right: -3px;
  background: transparent;
  border-radius: 0 0 100px 0;
  -moz-border-radius: 0 0 100px 0;
  -webkit-border-radius: 0 0 100px 0;
  border-bottom: 3px solid yellow;
  border-right: 3px solid yellow; }

.charts__chart-legend {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  color: #555555;
  font-size: 14px; }

.charts__views {
  overflow-x: auto;
  overflow-y: visible;
  height: 100%;
  width: 450px; }

.charts__views-block {
  display: flex;
  justify-content: left;
  flex-direction: row;
  margin-bottom: 3px; }

.charts__views-title {
  min-width: 135px;
  max-width: 135px;
  font-size: 13px;
  margin-right: 10px;
  overflow-wrap: break-word; }

.charts__views-title a {
  color: #555555;
  transition: opacity ease-out 0.2s;
  text-decoration: none; }

.charts__views-title a:hover {
  opacity: 0.7;
  text-decoration: underline; }

.charts__views-step {
  background: #e0d5e9;
  min-width: 10px;
  margin-right: 3px;
  position: relative; }

.charts__views-step.viewed {
  background: #d175ff; }

.charts__views-step.viewed:hover .charts__views-popup {
  visibility: visible; }

.charts__views-popup {
  position: absolute;
  top: 5px;
  left: -95px;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.35);
  visibility: hidden;
  z-index: 9; }

.charts__views-popup ul {
  padding-left: 0;
  position: relative; }

.charts__views-popup ul li {
  list-style-type: none;
  font-size: 12px; }

.charts__views-popup ul::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid rgba(255, 255, 255, 0.9);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.75));
  right: -17px;
  top: -20px; }
