/*colors*/
/*helpers*/
.charts {
  display: flex;
  justify-content: space-between;
  align-content: flex-start; }

.charts__box {
  position: relative; }

.charts__subtitle {
  font-size: 16px;
  margin: 0 0 15px 0; }

.charts__chart {
  display: flex; }

.charts__chart-pie {
  width: 170px;
  height: 170px;
  margin: 0 0 0 0px;
  border-radius: 50%;
  border: 3px solid #8d46d9;
  position: relative; }

.charts__chart-pieborder {
  position: absolute;
  width: 85px;
  height: 85px;
  bottom: -3px;
  right: -3px;
  background: transparent;
  border-radius: 0 0 100px 0;
  -moz-border-radius: 0 0 100px 0;
  -webkit-border-radius: 0 0 100px 0;
  border-bottom: 3px solid yellow;
  border-right: 3px solid yellow; }

.charts__chart-legend {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  color: #555;
  font-size: 14px; }

.charts__views-block {
  display: flex;
  justify-content: left;
  flex-direction: row;
  margin-bottom: 3px; }

.charts__views-title {
  min-width: 120px;
  font-size: 14px;
  background: red;
  margin-right: 10px; }

.charts__views-step {
  background: #d175ff;
  min-width: 20px;
  margin-right: 3px; }
