
/*colors*/
$base-dark-color: #6000c6;
$base-light-color: #8d46d9;
$table-border: #666;
$link: #4171ff;
$link-hover: #0344ff;
$table-header-hover: #f3f3f3;

/*helpers*/
$pie-radius-desktop: 170px;

/*colors*/
$dark-grey: #555555;
$light-grey: #e0d5e9;
$purple: #d175ff;